.heroImage {
    background:rgba(0, 0, 0, 0.7) url(/src/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 35vh;
  }
  
  .heroImage button {
    flex: 1;
    background-color: #3bba9c;
    color: #2E3047;
    border-radius: 25%;
    border: white 1em;
    margin: 3em;
    height: 2em;
    width: 6em;
  }
  
  .heroImage h1 {
    flex: 1;
    color: white;
  }